body {
    font-family: Verdana,Helvetica,Arial,sans-serif;
    background: #000;
    color: #fff;
    margin:0;
    padding: 0;
    overflow: hidden;
    overflow-y: hidden;
}

a {
    color: #fff;
}
a:hover {
    color: #ff0;
}
a:visited {
    color: #fff;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

#outer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: Arial,sans-serif;
}

#outer-banner {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    height: 5em;
}
#inner-banner {
    font-size: 60%;
}

#outer-body {
    margin:0;
    position: absolute;
    top: 5em;
    left: 0;
    right: 0;
    bottom: 3em;
    overflow: auto;
}
#inner-body {
}

#outer-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3em;
}
#inner-footer {
    font-size: 60%;
    border-top: 1px solid white;
    margin-top: 2px;
}

#logo {
    float: left;
    padding-right: 3pt;
}

#eu_cookie_notice {
    position: absolute;
    bottom: 3em;
    background: #ccc;
    color: #000;
    padding: 0.25em;
}
#eu_cookie_notice img { float: left; }
#eu_cookie_notice a { color: #00f;}
#eu_cookie_notice a:visited { color: #00f;}
#eu_cookie_notice a:hover { color: #00f;}

.messageHidden {
    display: none;
}

.messageVisible {
    display: block;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
}

.messageVisible div {
    background: #fff;
    opacity: 0.8;
    color: #000;
    font-size: 20pt;
    border: 2px solid black;
    -webkit-border-radius: 30pt;
    padding: 10pt;
    width: auto;
}

.ldbbutton {
    background: #384E7A; /*#121d34;*/
    color: #fff;
    border: 1px solid #121d34;
    -webkit-border-radius: 5pt;
    font-size: 14pt;
    text-decoration: none;
    top: 10pt;
    position: relative;
    padding: 1pt;
}

.ldbbutton:hover {
    background: #00a37a;
}
/* Override jquery */
.ui-page {
    background-color: #000;
}

.ui-icon-loading {
    background: url(//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/images/ajax-loader.gif);
}

input {
    color: #fff;
    font-size: 14pt;
    display: block;
    border: 1px solid white;
    background: #000;
    color: #fff;
    margin: 0 2em;
    height: 1.2em;
    width: 80%;
}

.ui-input {
    display: inline-block;
}
/* Hide UI helper */
.ui-helper-hidden-accessible,
.ui-helper-hidden-accessible div {display: none;}

.ui-autocomplete {
    border: 1px solid white;
    background: #000;
    margin-left: 3em;
    margin-right: 3em;
    display: block;
    max-height: 7em;
    overflow-y: auto;
}
.ui-autocomplete li {
    display: block;
    font-size: 16pt;
}
.ui-autocomplete ul {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.ui-state-focus {
    background: #888;
}

#stationlabel {

}

#loading {
    display: none;
    background-image: url(//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/images/ajax-loader.gif);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: -1;
    opacity: 0.3;
}

/* Hidden on mobile site */
#trainTop {
    display: none;
}

/* iPhone 3GS */
@media all and ( max-width: 320px ) {
    .ldbbutton {
        font-size: 130%;
        top: 5pt;
    }
    h1 {
        font-size: 110%;
        margin: 0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0.67em;
    }
    #stationlabel { font-size: 80%; }
    .ui-autocomplete li { font-size: 12pt; }
}

/* Samsung Note 3 Portrait */
@media all and (min-width: 321px) and ( max-width: 443px ) {
    .ldbbutton {
        font-size: 150%;
        top: 3pt;
    }
    h1 {
        font-size: 130%;
        margin: 0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0.67em;
    }
    #stationlabel { font-size: 90%; }
    .ui-autocomplete li { font-size: 12pt; }
}

/* Samsung Note 3 Portrait */
@media all and ( min-width: 444px ) and ( max-width: 640px ) {
    .ldbbutton { font-size: 80% }
    h1 {
        font-size: 130%;
        margin: 0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0.67em;
    }
    #stationlabel { font-size: 90%; }
    .ui-autocomplete li { font-size: 12pt; }
}

/* Samsung Tab 7.7+ */
@media all and (min-width: 641px ) and (max-width: 1023px){
    .ldbbutton { font-size: 80% }
    h1 {
        font-size: 130%;
        margin: 0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0.67em;
    }
    #stationlabel { font-size: 90%; }
    .ui-autocomplete li { font-size: 12pt; }
}

/* iPad 3/4 */
@media all and (min-width: 1024px) and (max-width: 1599px){
    .ldbbutton { font-size: 150% }
    h1 {
        font-size: 130%;
        margin: 0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0.67em;
    }
    #stationlabel { font-size: 90%; }
    .ui-autocomplete li { font-size: 12pt; }
}

/* Kindle Fire HDX - Massive resolution 2560x1600 */
@media all and (min-width: 1600px){
    .ldbbutton { font-size: 350% }
    h1 {
        font-size: 130%;
        margin: 0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0.67em;
    }
    #stationlabel { font-size: 90%; }
    .ui-autocomplete li { font-size: 12pt; }

    #outer-body { top: 10em; }
    #home { font-size: 240%; }
    #eu_cookie_notice { font-size: 250%; }
    #eu_cookie_notice img {
        width: 96px;
        height: 96px;
    }

    .ui-widget input {
        font-size: 150%;
        width: 90%;
    }
    .ui-autocomplete li { font-size: 250%; }
}
