/* CSS for the train detail page, overrides ldb.css */
#trainTop {
    font-size: 210%;
    text-align: center;
    padding-bottom: 0.5em;
}

#main-content #board .ldbWrapper {
    width: auto;
    display: inline-block;
}

div.ldbCancelled {
    color: red;
    text-align: center;
}

div.ldbLate {
    color: black;
    text-align: center;
}
.ldbPass {
    color: #999;
}

#main-content #board .ldb-row {
    color: black;
    font-size: 100%;
}

#main-content #board .ldb-row table tr th {
    border-collapse: collapse;
    color: black;
    font-size: 100%;
}

#main-content #board .ldb-row table tr.head th {
    border-collapse: collapse;
    border-bottom: 1px solid black;
}

#main-content #board .ldb-row table tr th.sep,
#main-content #board .ldb-row table tr td.sep {
    border-left: 1px solid #ccc;
}

#main-content #board .ldb-row table tr {
    color: black;
    font-size: 100%;
    border-bottom: 1px solid #ccc;
}

#main-content #board .ldb-row table {
    border-collapse: collapse;
    border: 1px solid #ccc;
}
