/* 
    Created on : May 26, 2014, 12:15:28 PM
    Author     : Peter T Mount
*/

body {
    font-family: Verdana,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.clearleft { clear: left; }
.clearright { clear: right; }
.center { text-align: center; }

#main-outer {
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    background: #fff;
    color: #000;
}

/* Main content */

#main-body {
    background: #ccc;
    margin: 1px;
    background: #fff;
    color: #000;
    padding-top: 1px;
    padding-bottom: 1px;
}

/* Layouts */
#main-content {
    position: absolute;
    left:0;
    top: 7em;
    bottom: 3.2em;
    right: 0;
    overflow: auto;
}
#col-left, #col-right, #col-2coll-center, #col-2colr-center, #col-3col-center {
    position: absolute;
    top: 0;
    bottom: 0;
}
/* Left for 2coll and 3col */
#col-left {
    left:0;
    width: 25%;
}
/* right for 2colr and 3col */
#col-right {
    right:0;
    width: 25%;
}
/* Center for 2coll */
#col-2coll-center {
    left: 25%;
    right: 0;
}
/* Center for 2colr */
#col-2colr-center {
    left: 0;
    right: 25%;
}
/* Center for 3col */
#col-3col-center {
    left: 25%;
    right: 25%;
}

/* Sidebox tables - usually for embedded content */
.sidebox {}
.sidebox a {
    color: #00f;
    text-decoration: none;
}
.sidebox a:visited {color: #00f;}
.sidebox a:hover {
    color: #00f;
    text-decoration: underline;
}
.sidebox caption {
    text-align: left;
    font-weight: bold;
    font-size: 1.4em;
}
.sidebox td {}
.sidebox th {}
.sidebox tr {}

/* pre elements wrap to fit */
pre {overflow-wrap: break-word;}

/* Footer */

#footer {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height: 2.3em;
    background: #fff;
    color: #000;
}
#footer-outer {
    display: table;
    table-layout: auto;
    width: 100%;
}
#footer-inner {
    display: table-row;
    background: #fff;
    color: #000;
}
#footer-left, #footer-center,#footer-right {
    display: table-cell;
    padding: 3px;
}
#footer-left, #footer-center {
    text-align: center;
}
#footer-right {
    text-align: right;
    text-wrap: avoid;
}

#footer-inner address {
    text-align: center;
}
#footer-inner div {
    font-size: 0.6em;
    font-family: Arial,sans-serif;
    border-top: 1px solid black;
}

#footer-inner div a {
    margin-left: 2px;
    margin-right: 3px;
    color: #00f;
}
#footer-inner div a:visited { color: #00f; }
#footer-inner div a:hover { color: #00f; }

/* TODO move to satellite.css */
#satellite {
    font-size: 0.8em;
    font-family: Arial,sans-serif;
    display: table;
    table-layout: auto;
    width: 100%;
}
#satellite-inner {
    display: table-row;
    width: 100%;
    height: 1.5em;
}
#satellite-menu, #satellite-image {
    display: table-cell;
    padding: 3px;
}
#satellite-menu {
    vertical-align: top;
    text-align: left;
    width: 20em;
    min-width: 20em;
}
#satellite-image {
    vertical-align: middle;
    text-align: center;
    overflow: scroll;
}
#sat-copy {text-align: center;}
#eumetsat div, #metie div { }
#eumetsat div:hover, #metie div:hover { background: #888; }
