/* 
    Created on : May 26, 2014, 12:15:28 PM
    Author     : Peter T Mount
*/

body {
    font-family: Verdana,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.clearleft { clear: left; }
.clearright { clear: right; }
.center { text-align: center; }

#main-outer {
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    background: #fff;
    color: #000;
}

/* Main content */

#main-body {
    background: #ccc;
    margin: 1px;
    background: #fff;
    color: #000;
    padding-top: 1px;
    padding-bottom: 1px;
}

/* Footer */

#footer {
    height: 1.5em;
    background: #fff;
    color: #000;
}
#footer-outer {
    display: table;
    table-layout: auto;
    width: 100%;
}
#footer-inner {
    display: table-row;
    background: #fff;
    color: #000;
}
#footer-left, #footer-center,#footer-right {
    display: table-cell;
    padding: 3px;
}
#footer-left, #footer-center {
    text-align: center;
}
#footer-right {
    text-align: right;
    text-wrap: avoid;
}

#footer-inner address {
    text-align: center;
}
#footer-inner div {
    font-size: 0.6em;
    font-family: Arial,sans-serif;
    border-top: 1px solid black;
}

#footer-inner div a {
    margin-left: 2px;
    margin-right: 3px;
    color: #00f;
}
#footer-inner div a:visited { color: #00f; }
#footer-inner div a:hover { color: #00f; }

/* TODO move to satellite.css */
#satellite {
    font-size: 0.8em;
    font-family: Arial,sans-serif;
    display: table;
    table-layout: auto;
    width: 100%;
}
#satellite-inner {
    display: table-row;
    width: 100%;
    height: 1.5em;
}
#satellite-menu, #satellite-image {
    display: table-cell;
    padding: 3px;
}
#satellite-menu {
    vertical-align: top;
    text-align: left;
    width: 20em;
    min-width: 20em;
}
#satellite-image {
    vertical-align: middle;
    text-align: center;
    overflow: scroll;
}
#sat-copy {text-align: center;}
#eumetsat div, #metie div { }
#eumetsat div:hover, #metie div:hover { background: #888; }
