
.tpnm_wrapper svg {
    //display: inline-block;
    border: 1px solid red;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

/* Signals */
.tpnm_sig {
    stroke: #ee8888;
    stroke-width: 10px;
    /* No fill - some signals render wrong otherwise*/
    fill-opacity: 0;
}

/* GraphicVector */
.tpnm_vec {
    stroke: #000;
}

/* Most common layer: tracks, platforms pretty much everything */
.tpnm_vec_1 {}
/* Not certain what 2 is, at MDE/MDB its part line under the MDE line */
.tpnm_vec_2 {}
/* 4 is disused or rarely used lines (MDE Plat 3 is an example) */
.tpnm_vec_4 {
    stroke: #888;
    stroke-width: 2px;
}
/* Not certain but looks like barrier around some feature/line */
.tpnm_vec_5 {
    stroke: #f00;
    stroke-width: 2px;
}
