/*
 * trainwatch /article/ stylesheet
 */

.sharebutton {
  float:right;
  padding-left: 2px;
  font-size: 0.9em;
}

.rightbox {
  float:right;
  width:200px;
  max-width:200px;
  padding:5px;
  background: #EBEBEB none 6px 8px no-repeat;
  border: 1px solid #DBDBDB;
  font-size: 0.95em;
  margin: 0.5em 1px 0 0.5em;
}

.postcomment {
  margin-top: 4px;
  padding-top: 4px;
  border-top: 1px solid #888;
}

.postdetails {
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #888;
}

blockquote {
  background: #EBEBEB none 6px 8px no-repeat;
  border: 1px solid #DBDBDB;
  font-size: 0.95em;
  margin: 0.5em 1px 0 25px;
  overflow: hidden;
  padding: 5px;
  background-image: url("http://images.trainwatch.co.uk/forums/quote.gif");
  border-color: #DBDBCE;
}

blockquote cite {
  font-style: normal;
  font-weight: bold;
  margin-left: 20px;
  display: block;
  font-size: 0.9em;
}

table.tablebg {
  border-top: 1px solid #888;
  border-left: 1px solid #888;
}
table.tablebg th {
  background: #e9e9e9;
}
table.tablebg th, table.tablebg td {
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
}

/* top headlines */
.idx_headline_container {
  text-align: center;
  width: 600px;
  height: 300px;
  margin: 1px auto;
}

/* featured article 2 + index */
.idx_feature2_container {
  text-align: center;
  width: 600px;
  width: 130px;
  margin: 1px auto;
}
.idx_feature2_container .article {
  text-align: left;
  vertical-align: text-top;
  display: inline-block;
  font-size: 0.8em;
  width: 400px;
  max-width: 400px;
}

/* article index */
.idx_article_container {
  text-align: center;
  width: 600px;
  margin: 1px auto;
}

.idx_article_box {
  text-align: left;
  vertical-align: text-top;
  display: inline-block;
  font-size: 0.8em;
}
.idx_article_box1 {
  width: 200px;
  max-width: 200px;
}
.idx_article_box2 {
  width: 400px;
  max-width: 400px;
}
.idx_article_box3 {
  width: 600px;
  max-width: 600px;
}
.idx_article_where { font-size: 0.9em; }
.idx_article_where .forum_name {
  color: #000;
  margin-right: 4px;
}
.idx_article_where .post_date {
  color: #888;
}

.idx_article_title {
  font-size: 1.1em;
  font-weight: bold;
  display: block;
}

.idx_article_title a { text-decoration: none; }
.idx_article_title a:hover { text-decoration: underline; }

/* Firehose */
div.firehose {
  font-size: 1em;
  border-bottom:1px solid black;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

div.firehose h2 {
  font-size: 1.2em;
  line-height: 1em;
}

div.firehose a { text-decoration: none; }
div.firehose a:hover { text-decoration: underline; }

div.firehose .summary {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

