/* Stylesheet for the workbench */
#trust {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    border: 1px solid black;
}
#trustTop {
    position: absolute;
    left:0;
    right:0;
    top:0;
    height:4em;
    border: 1px solid black;
    overflow: hidden;
    font-size: 0.5em;
}
#trustTop .trustBanner {display: inline-block;}
#trustTop h2 {
    display: inline;
    margin:0;
    padding:0;
}

#trustTop #tocs {
    float: right;
}

#trustTop select {
    font-size: 1.2em;
}

#refreshRate {
    position: absolute;
    top:0;
    right:0;
}

#trainDetails .title {
    position: absolute;
    left:4px;
    top:0.5em;
    right: 32px;
}

#trainDetails .closeButton {
    position: absolute;
    right:4px;
    top:4px;
    width: 24px;
    height: 24px;
    background-image: url('/images/general/Close24.png');
}
#trainDetailBody {
    position: absolute;
    left: 4px;
    right:4px;
    top:2em;
    bottom: 1em;
    background: #fff;
    overflow: auto;
}

#trainScheduleBody .schedule {
    font-size: 0.8em;
}
#trainScheduleBody .schedule tr {
    line-height: 1em;
}
#trainScheduleBody .schedule th, #trainScheduleBody .schedule td {
    line-height: 1em;
    padding: 0;
    margin:0;
}

#trainDetails {
    position: absolute;
    left:10%;
    right:10%;
    top:10%;
    bottom:10%;
    overflow: auto;
    border: 1px solid black;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background: #ccc;
    padding: 2em;
}

#trustBody {
    position: absolute;
    left:0;
    right:0;
    top:2.5em;
    bottom:0;
}

#trustBody .ui-tabs-panel {
    position: absolute;
    top:2em;
    bottom:0;
    left:0;
    right:0;
    border: 1px solid black;
    background: #ddd;
    overflow: hidden;
    overflow-x: scroll;
}

#trustBody ul {
    font-size: 0.8em;
    padding-top: 0;
}

#trustBody li {
    border: 1px solid #000;
    background: #ddd;
    color: #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#trustBody li.ui-state-active {background:rgb(145,201,236);}
#trustBody li a { color: #000; }
#trustBody li a:visited { color: #000; }
#trustBody li a:hover { color: #000; }
#trustBody li.ui-state-active a:hover { color: #000; }

#trustBody li .ui-icon-close {
    float: left;
    margin: 0.4em 0.2em 0 0;
    cursor: pointer;
}

.trustTitle {
    position: absolute;
    top:0;
    left:0;
    right:0;
    height:1.9em;
    margin:0;
    padding: 1px;
    background: rgb(145,201,236);
    color: #000;
    font-weight: bold;
    text-align: center;
}

.trustStream {
    position: absolute;
    top: 0;
    bottom:0;
    padding: 1px;
    margin: 1px;
    font-size: 0.8em;
    background: #fff;
}
.trustStream .trustStreamContent {
    position: absolute;
    top:2em;
    bottom:0;

    overflow-y: scroll;
    padding: 1px;
    margin: 1px;
}

.train {
    margin:0;
    border:0;
    border-bottom: 1px solid #ccc;
    padding: 0.5em 0;
    padding-bottom: 0.5em;
}
.train .title {
    margin:0;
    padding: 1px;
    border:0;
    background: rgb(145,201,236);
    color: #000;
    font-weight: bold;
    text-align: left;
    font-size: 0.8em;
    overflow:hidden;
}

#trainDetailBody .info table {width:100%;}

#trainDetailBody .info,
.train .info {
    color: #000;
    border:0;
    font-weight: normal;
    text-align: left;
}
.train .info {font-size: 0.8em;}
.info th {text-align: right;}
.info td {text-align: left;}
.info th.rowh {
    border-bottom: 1px solid black;
    padding-top: 0.5em;
    text-align: center;
}
.train th {
    width: 5em;
}
.train td {
    width:20em;
}

.ui-tabs {
    position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
    padding: .2em;
}
.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 1px .2em 0 0;
    border-bottom-width: 0;
    padding: 0;
    white-space: nowrap;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: .5em 1em;
    text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -1px;
    padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    cursor: text;
}
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 1em 1.4em;
    background: none;
}

.schedule {
    border-collapse: collapse;
}
.schedule tr {
    height: 1em;
    border-collapse: collapse;
    margin:0;
    padding:0;
}
.schedule td {
    border-collapse: collapse;
    border: 0;
    margin:0;
    padding:0;
}
.schedule td.netstart,
.schedule td.netpass,
.schedule td.netstop,
.schedule td.netend,
.schedule td.netjoin, .schedule td.netjoin2,
.schedule td.netdivide, .schedule td.netdivide2,
.schedule td.netnextfirst,
.schedule td.netnextinter, .schedule td.netnextinter2,
.schedule td.netnextlast,
.schedule td.netprevfirst,
.schedule td.netprevinter, .schedule td.netprevinter2,
.schedule td.netprevlast,
.schedule td.netblank {
    width: 1em;
}

.schedule td.netpass {
    background: white url("/images/net/STR.png") no-repeat top left;
    border-right: 1px solid white;
}

.schedule td.netstart {
    background: white url("/images/net/KBHFa.png") no-repeat top left;
    border-right: 1px solid white;
}

.schedule td.netstop {
    background: white url("/images/net/BHF.png") no-repeat top left;
    border-right: 1px solid white;
}

.schedule td.netend {
    background: white url("/images/net/KBHFe.png") no-repeat top left;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.schedule td.netjoin {
    background: white url("/images/net/ABZrg.png") no-repeat top left;
}

.schedule td.netjoin2 {
    background: white url("/images/net/STRq.png") no-repeat top left;
    border-right: 1px solid white;
}

.schedule td.netdivide {
    background: white url("/images/net/ABZlf.png") no-repeat top left;
}

.schedule td.netdivide2 {
    background: white url("/images/net/CONTfq.png") no-repeat top left;
    border-right: 1px solid white;
}

.schedule td.netnextfirst {
    background: white url("/images/net/KBHFxe.png") no-repeat top left;
    border-right: 1px solid white;
}

.schedule td.netnextinter {
    background: white url("/images/net/exABZlf.png") no-repeat top left;
}

.schedule td.netnextinter2 {
    background: white url("/images/net/exCONTfq.png") no-repeat top left;
    border-right: 1px solid white;
}

.schedule td.netnextlast {
    background: white url("/images/net/exCONTf.png") no-repeat top left;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.schedule td.netprevfirst {
    background: white url("/images/net/exCONTg.png") no-repeat top left;
    border-right: 1px solid white;
}

.schedule td.netprevinter {
    background: white url("/images/net/exABZrg.png") no-repeat top left;
}
.schedule td.netprevinter2 {
    background: white url("/images/net/exSTRq.png") no-repeat top left;
    border-right: 1px solid white;
}

.schedule td.netprevlast {
    background: white url("/images/net/KBHFxa.png") no-repeat top left;
    border-right: 1px solid white;
}
