/* LDB Standard Theme */

table.ldbTable {
    width: 100%;
    font-family: Arial;
    font-size: 24pt;
    border-collapse: collapse;
    table-layout: fixed;
    background: #000;
    color: #fff;
}

table.ldbTable tr {
    height: 36px;
}

.altrow {
    background: #121d34;
}

table.ldbTable th {
    border-collapse: collapse;
    color: #ffff00;
    margin: 0px;
    padding: 6px 10px;
    font-size: 20pt;
    text-align: left;
}

table.ldbTable th, table.ldbTable td {
}
.ldb-enttop {
    border-top: 2px solid #ffffff;
    font-size: 24pt;
}
.ldb-enttop .ldbVia {
    font-size: 20pt;
    color: #aaa;
}

.ldb-entwarn {
    font-size: 14pt;
}
.ldb-entbot {
    font-size: 14pt;
    color: #ffff00;
}
.ldb-entbot p {
    margin: 0;
}

tr.ldbHead {

}

td.ldbCol {
    text-align: center;
    padding: 6px 10px;
}

th.ldbPlat {
    width: 60px;
    border-left: 4px solid #ffffff;
}
th.ldbSched {
    width: 115px;
    border-left: 4px solid #ffffff;
}
th.ldbForecast {
    width: 170px;
    border-left: 4px solid #ffffff;
}
td.ldbForecast {
    text-align: left;
}
.ldbOntime {
    color: white;
}
.ldbCancelled, .ldbDelayed {
    color: red;
}
.ldbHeader, .ldbDest {
    color: white;
}
